Repository ls1intum/edutelligence, pull requests merged in 2025-04, with the labels that each got.

#84 `Athena`: Fix images to build script for GH actions
  .github/scripts/athena_images-to-build.sh
  .github/workflows/athena_build-and-push-docker.yml
Labels: github

#80 Logos: Initialize and add base formatting
  .github/CODEOWNERS
  .github/workflows/validate-pr-title.yml
  logos/.flake8
  logos/.pre-commit-config.yaml
  logos/README.md
  logos/pyproject.toml
  logos/src/logos/__init__.py
  logos/tests/__init__.py
Labels: github, logos

#72 `Iris`: Adjust deployment to monorepo
  .github/workflows/iris_build-and-push-docker.yml
  .github/workflows/iris_deploy-test.yml
  .github/workflows/iris_deploy.yml
  iris/Dockerfile
  iris/docker/pyris-production-internal.yml
  iris/docker/pyris-production.yml
  iris/docker/pyris.yml
  iris/poetry.lock
  iris/requirements.txt
  iris/src/iris/llm/external/model.py
Labels: iris, github

#98 `Iris`: Fix collection initialization
  iris/src/iris/domain/status/text_exercise_chat_status_update_dto.py
  iris/src/iris/pipeline/chat/course_chat_pipeline.py
  iris/src/iris/pipeline/chat/exercise_chat_agent_pipeline.py
  iris/src/iris/retrieval/lecture/lecture_retrieval.py
  iris/src/iris/vector_database/database.py
Labels: iris

#78 `Athena`: Expert Evaluation Scripts
  .pre-commit-config.yaml
  athena/.pre-commit-config.yaml
  athena/evaluation/.env.example
  athena/evaluation/.gitignore
  athena/evaluation/0_database_setup.ipynb
  athena/evaluation/1_sampling_exercises.ipynb
  athena/evaluation/2_sampling_submissions.ipynb
  athena/evaluation/3_feedback_generation.ipynb
  athena/evaluation/4_expert_evaluation.ipynb
  athena/evaluation/5_llm_as_a_judge.ipynb
  athena/evaluation/README.md
  athena/evaluation/data/0_db_dump/.gitkeep
  athena/evaluation/data/1_exercises/.gitkeep
  athena/evaluation/data/2_submissions/.gitkeep
  athena/evaluation/data/3_feedback_suggestions/.gitkeep
  athena/evaluation/data/3_feedback_suggestions/feedback_suggestions/.gitkeep
  athena/evaluation/data/4_expert_evaluation/.gitkeep
  athena/evaluation/data/5_llm_evaluation/.gitkeep
  athena/evaluation/data/6_analysis/.gitkeep
  athena/evaluation/model/evaluation_model.py
  athena/evaluation/model/model.py
  athena/evaluation/poetry.lock
  athena/evaluation/prompts/llm_evaluation_prompt.py
  athena/evaluation/prompts/metrics.py
  athena/evaluation/pyproject.toml
  athena/evaluation/service/db_service.py
  athena/evaluation/service/json_service.py
  athena/evaluation/service/llm_service.py
  athena/evaluation/service/sampling_service.py
Labels: athena, ready for review

#52 `Atlas`: Finalise Initial Endpoint for Competencies
  .github/workflows/atlasml_test-and-build.yml
  atlas/AtlasMl/.env.example
  atlas/AtlasMl/Dockerfile
  atlas/AtlasMl/README.md
  atlas/AtlasMl/atlasml/app.py
  atlas/AtlasMl/atlasml/clients/weaviate.py
  atlas/AtlasMl/atlasml/config.py
  atlas/AtlasMl/atlasml/ml/SimilarityMeasurement/Cosine.py
  atlas/AtlasMl/atlasml/ml/SimilarityMeasurement/Euclidian.py
  atlas/AtlasMl/atlasml/ml/SimilarityMeasurement/Jaccard.py
  atlas/AtlasMl/atlasml/ml/VectorEmbeddings/FallbackModel.py
  atlas/AtlasMl/atlasml/models/competency.py
  atlas/AtlasMl/atlasml/pytest.ini
  atlas/AtlasMl/atlasml/routers/competency.py
  atlas/AtlasMl/atlasml/routers/health.py
  atlas/AtlasMl/poetry.lock
  atlas/AtlasMl/pyproject.toml
  atlas/AtlasMl/tests/test_clustering.py
  atlas/AtlasMl/tests/test_competency.py
  atlas/AtlasMl/tests/test_similarityMeasurement.py
  atlas/docker-compose.yml
Labels: atlas, github
