Repository ls1intum/edutelligence, pull requests merged in 2025-06, with the labels that each got.

#109 `Atlas`: Competency to Competency mapping
  atlas/AtlasMl/atlasml/ml/Clustering/HDBSCAN.py
  atlas/AtlasMl/atlasml/ml/CompetencySimilarity/CentroidSimilarity.py
  atlas/AtlasMl/atlasml/ml/CompetencySimilarity/__init__.py
  atlas/AtlasMl/tests/test_centroidSimilarity.py
  atlas/AtlasMl/tests/test_clustering.py
Labels: atlas

#118 `Athena`: Add verification tests for module_modeling_llm using SGIs
  athena/modules/modeling/module_modeling_llm/poetry.lock
  athena/modules/modeling/module_modeling_llm/pyproject.toml
  athena/poetry.lock
  athena/pyproject.toml
  athena/tests/modules/modeling/module_modeling_llm/mock/conftest.py
  athena/tests/modules/modeling/module_modeling_llm/mock/test_basic_approach_mock.py
  athena/tests/modules/modeling/module_modeling_llm/mock/utils/mock_config.py
  athena/tests/modules/modeling/module_modeling_llm/mock/utils/mock_llm.py
  athena/tests/modules/modeling/module_modeling_llm/mock/utils/mock_openai.py
  athena/tests/modules/modeling/module_modeling_llm/real/conftest.py
  athena/tests/modules/modeling/module_modeling_llm/real/test_data/ecommerce_data.py
  athena/tests/modules/modeling/module_modeling_llm/real/test_data/hospital_data.py
  athena/tests/modules/modeling/module_modeling_llm/real/test_real.py
  athena/tests/modules/text/module_text_llm/mock/conftest.py
  athena/tests/modules/text/module_text_llm/mock/test_basic_approach_mock.py
  athena/tests/modules/text/utils/mock_config.py
  athena/tests/modules/text/utils/mock_env.py
  athena/tests/modules/text/utils/mock_llm.py
  athena/tests/modules/text/utils/mock_openai.py
Labels: athena, ready for review

#167 `Atlas`: Finalise endpoints for integration
  README.md
  atlas/AtlasMl/.env.example
  atlas/AtlasMl/README.md
  atlas/AtlasMl/application.example.yml
  atlas/AtlasMl/application.yml
  atlas/AtlasMl/atlasml/app.py
  atlas/AtlasMl/atlasml/clients/weaviate.py
  atlas/AtlasMl/atlasml/common/exceptions.py
  atlas/AtlasMl/atlasml/config.py
  atlas/AtlasMl/atlasml/dependencies.py
  atlas/AtlasMl/atlasml/ml/Clustering/HDBSCAN.py
  atlas/AtlasMl/atlasml/ml/Clustering/TSNE.py
  atlas/AtlasMl/atlasml/ml/SimilarityMeasurement/Cosine.py
  atlas/AtlasMl/atlasml/ml/SimilarityMeasurement/Euclidian.py
  atlas/AtlasMl/atlasml/ml/SimilarityMeasurement/Jaccard.py
  atlas/AtlasMl/atlasml/ml/VectorEmbeddings/FallbackModel.py
  atlas/AtlasMl/atlasml/ml/VectorEmbeddings/MainEmbeddingModel.py
  atlas/AtlasMl/atlasml/ml/VectorEmbeddings/ModelDimension.py
  atlas/AtlasMl/atlasml/models/__init__.py
  atlas/AtlasMl/atlasml/models/competency.py
  atlas/AtlasMl/atlasml/routers/__init__.py
  atlas/AtlasMl/atlasml/routers/competency.py
  atlas/AtlasMl/atlasml/routers/health.py
  atlas/AtlasMl/atlasml/scripts/initialize_embedings.py
  atlas/AtlasMl/atlasml/tasks/__init__.py
  atlas/AtlasMl/atlasml/tasks/data_collection.py
  atlas/AtlasMl/atlasml/tasks/scheduler.py
  atlas/AtlasMl/poetry.lock
  atlas/AtlasMl/pyproject.toml
  atlas/AtlasMl/tests/conftest.py
  atlas/AtlasMl/tests/routers/test_competency.py
  atlas/AtlasMl/tests/routers/test_health.py
  atlas/AtlasMl/tests/test_clustering.py
  atlas/AtlasMl/tests/test_competency.py
  atlas/AtlasMl/tests/test_config.yml
  atlas/AtlasMl/tests/test_similarityMeasurement.py
  atlas/AtlasMl/tests/test_weaviate.py
Labels: atlas

#180 `Hyperion`: Fix setup and move code-workspace away from top-level
  hyperion/README.md
  hyperion/app/protos/hyperion.proto
  hyperion/app/scripts/sync_proto_artemis.py
  hyperion/hyperion.code-workspace
Labels: hyperion

#175 `Athena`: Adjusted the test script of athena to create reports for tests
  .github/workflows/athena_test.yml
  athena/.gitignore
  athena/scripts/test_modules.py
Labels: athena, github, ready for review

#172 `Athena`: Add mock tests for module_programming_llm
  athena/tests/modules/programming/module_programming_llm/mock/conftest.py
  athena/tests/modules/programming/module_programming_llm/mock/test_mock.py
  athena/tests/modules/programming/module_programming_llm/mock/utils/mock_config.py
  athena/tests/modules/programming/module_programming_llm/mock/utils/mock_env.py
  athena/tests/modules/programming/module_programming_llm/mock/utils/mock_llm.py
  athena/tests/modules/programming/module_programming_llm/mock/utils/mock_module_config.py
  athena/tests/modules/programming/module_programming_llm/mock/utils/mock_openai.py
  athena/tests/modules/text/module_text_llm/mock/conftest.py
  athena/tests/modules/text/module_text_llm/mock/test_basic_approach_mock.py
  athena/tests/modules/text/module_text_llm/mock/utils/mock_config.py
  athena/tests/modules/text/module_text_llm/mock/utils/mock_env.py
  athena/tests/modules/text/module_text_llm/mock/utils/mock_llm.py
  athena/tests/modules/text/module_text_llm/mock/utils/mock_openai.py
Labels: athena

#174 `Hyperion`: PROTO Definition & Generate Solution Repository
  hyperion/.gitignore
  hyperion/app/creation_steps/__init__.py
  hyperion/app/creation_steps/config.py
  hyperion/app/creation_steps/exceptions.py
  hyperion/app/creation_steps/step1_define_boundary_condition/servicer.py
  hyperion/app/creation_steps/step2_draft_problem_statement/servicer.py
  hyperion/app/creation_steps/step3_create_solution_repository/README.md
  hyperion/app/creation_steps/step3_create_solution_repository/__init__.py
  hyperion/app/creation_steps/step3_create_solution_repository/code_generator.py
  hyperion/app/creation_steps/step3_create_solution_repository/exceptions.py
  hyperion/app/creation_steps/step3_create_solution_repository/language_handlers/__init__.py
  hyperion/app/creation_steps/step3_create_solution_repository/language_handlers/base_handler.py
  hyperion/app/creation_steps/step3_create_solution_repository/language_handlers/handlers_registry.py
  hyperion/app/creation_steps/step3_create_solution_repository/language_handlers/python_handler.py
  hyperion/app/creation_steps/step3_create_solution_repository/models.py
  hyperion/app/creation_steps/step3_create_solution_repository/servicer.py
  hyperion/app/creation_steps/step3_create_solution_repository/tests/integration.py
  hyperion/app/creation_steps/step4_create_template_repository/servicer.py
  hyperion/app/creation_steps/step5_create_test_repository/servicer.py
  hyperion/app/creation_steps/step6_finalize_problem_statement/servicer.py
  hyperion/app/creation_steps/step7_configure_grading/servicer.py
  hyperion/app/creation_steps/workspace/__init__.py
  hyperion/app/creation_steps/workspace/file_manager.py
  hyperion/app/creation_steps/workspace/git_manager.py
  hyperion/app/creation_steps/workspace/tests/README.md
  hyperion/app/creation_steps/workspace/tests/test_file_manager.py
  hyperion/app/creation_steps/workspace/tests/test_git_manager.py
  hyperion/app/grpc/hyperion_pb2.py
  hyperion/app/grpc/hyperion_pb2.pyi
  hyperion/app/grpc/hyperion_pb2_grpc.py
  hyperion/app/grpc/models.py
  hyperion/app/main.py
  hyperion/app/protos/hyperion.proto
  hyperion/poetry.lock
  hyperion/pyproject.toml
Labels: hyperion, ready for review

#182 `Athena`: Sort Evaluation Configs in Evaluation Config Selector
  athena/playground/src/components/selectors/evaluation_config_selector.tsx
Labels: athena
