Repository ls1intum/edutelligence, pull requests merged in 2025-07, with the labels that each got.

#191 `Athena`: Add release tag to docker images for releases
  .github/workflows/athena_build-and-push-docker.yml
Labels: github

#194 `Athena`: Update default db path + update db path in example envs
  athena/athena/athena/env.py
  athena/llm_core/.env.example
  athena/modules/modeling/module_modeling_llm/.env.example
  athena/modules/programming/module_programming_llm/.env.example
  athena/modules/text/module_text_llm/.env.example
Labels: athena

#195 `Athena`: Use major version tag for mikepenz/action-junit-report
  .github/workflows/athena_test.yml
Labels: github

#197 `Hyperion`: Use mypy instead of pydantic for gRPC type-safety
  hyperion/README.md
  hyperion/app/creation_steps/step8_review_and_refine/models.py
  hyperion/app/creation_steps/step8_review_and_refine/servicer.py
  hyperion/app/grpc/hyperion_pb2.pyi
  hyperion/app/grpc/hyperion_pb2_grpc.pyi
  hyperion/app/grpc/models.py
  hyperion/app/protos/hyperion.proto
  hyperion/app/scripts/generate_grpc_stubs.py
  hyperion/poetry.lock
  hyperion/pyproject.toml
Labels: hyperion

#199 `Hyperion`: Fix sync proto artemis path
  hyperion/app/scripts/sync_proto_artemis.py
Labels: hyperion

#202 `Athena`: Pin protobuf version for module_text_cofee in dependencies and dockerfile to 5.29.4
  athena/modules/text/module_text_cofee/Dockerfile
  athena/modules/text/module_text_cofee/poetry.lock
  athena/modules/text/module_text_cofee/pyproject.toml
Labels: athena, lock:athena-test2

#200 `Hyperion`: Consistency check v2
  hyperion/.gitignore
  hyperion/app/creation_steps/step8_review_and_refine/consistency_check/__init__.py
  hyperion/app/creation_steps/step8_review_and_refine/consistency_check/models.py
  hyperion/app/creation_steps/step8_review_and_refine/consistency_check/prompts.py
  hyperion/app/creation_steps/step8_review_and_refine/consistency_check/renderer.py
  hyperion/app/creation_steps/step8_review_and_refine/prompts.py
  hyperion/app/creation_steps/step8_review_and_refine/servicer.py
  hyperion/app/grpc/hyperion_pb2.py
  hyperion/app/grpc/hyperion_pb2.pyi
  hyperion/app/grpc/hyperion_pb2_grpc.py
  hyperion/app/grpc/hyperion_pb2_grpc.pyi
  hyperion/app/protos/hyperion.proto
  hyperion/app/scripts/sync_proto_artemis.py
  hyperion/consistency_taxonomy.md
  hyperion/playground/eval_consistency_checker.py
  hyperion/playground/test_inconsistency_check.py
Labels: hyperion

#198 `Hyperion`: Code Generation
  hyperion/README.md
  hyperion/app/creation_steps/__init__.py
  hyperion/app/creation_steps/config.py
  hyperion/app/creation_steps/exceptions.py
  hyperion/app/creation_steps/step3_create_solution_repository/README.md
  hyperion/app/creation_steps/step3_create_solution_repository/__init__.py
  hyperion/app/creation_steps/step3_create_solution_repository/code_generator.py
  hyperion/app/creation_steps/step3_create_solution_repository/exceptions.py
  hyperion/app/creation_steps/step3_create_solution_repository/language_handlers/__init__.py
  hyperion/app/creation_steps/step3_create_solution_repository/language_handlers/base_handler.py
  hyperion/app/creation_steps/step3_create_solution_repository/language_handlers/handlers_registry.py
  hyperion/app/creation_steps/step3_create_solution_repository/language_handlers/python_handler.py
  hyperion/app/creation_steps/step3_create_solution_repository/models.py
  hyperion/app/creation_steps/step3_create_solution_repository/servicer.py
  hyperion/app/creation_steps/workspace/__init__.py
  hyperion/app/creation_steps/workspace/file_manager.py
  hyperion/app/creation_steps/workspace/git_manager.py
  hyperion/app/creation_steps/workspace/workspace_manager.py
  hyperion/app/main.py
  hyperion/app/models/__init__.py
  hyperion/app/scripts/sync_proto_artemis.py
  hyperion/poetry.lock
  hyperion/pyproject.toml
  hyperion/run_tests.py
  hyperion/src/binary_search.py
  hyperion/tests/creation_steps/step3_create_solution_repository/step3_integration.py
  hyperion/tests/creation_steps/workspace/test_file_manager.py
  hyperion/tests/creation_steps/workspace/test_git_manager.py
  tests/__init__.py
  tests/creation_steps/__init__.py
  tests/creation_steps/step3_create_solution_repository/__init__.py
  tests/creation_steps/workspace/__init__.py
Labels: hyperion

#212 `Hyperion`: Consistency check v3 😎
  hyperion/app/creation_steps/step8_review_and_refine/consistency_check/checker/__init__.py
  hyperion/app/creation_steps/step8_review_and_refine/consistency_check/checker/semantic.py
  hyperion/app/creation_steps/step8_review_and_refine/consistency_check/checker/structural.py
  hyperion/app/creation_steps/step8_review_and_refine/consistency_check/handler.py
  hyperion/app/creation_steps/step8_review_and_refine/consistency_check/models.py
  hyperion/app/creation_steps/step8_review_and_refine/consistency_check/prompts.py
  hyperion/app/creation_steps/step8_review_and_refine/consistency_check/renderer.py
  hyperion/openapi.yaml
  hyperion/playground/eval_consistency_checker.py
  hyperion/supported_consistency_issues.md
Labels: hyperion

#213 `Hyperion`: Add create inconsistency dataset variant script
  hyperion/app/creation_steps/step8_review_and_refine/consistency_check/handler.py
  hyperion/playground/create_variant.py
Labels: hyperion

#214 `Hyperion`: Improve eval script to store results and traces
  hyperion/playground/create_variant.py
  hyperion/playground/eval_consistency_checker.py
Labels: hyperion

#185 `Athena`: Incorporate previous submission to feedback generation
  athena/athena/athena/endpoints.py
  athena/modules/text/module_text_llm/module_text_llm/__init__.py
  athena/modules/text/module_text_llm/module_text_llm/__main__.py
  athena/modules/text/module_text_llm/module_text_llm/approach_controller.py
  athena/modules/text/module_text_llm/module_text_llm/config.py
  athena/modules/text/module_text_llm/module_text_llm/cot_prev_submission/__init__.py
  athena/modules/text/module_text_llm/module_text_llm/cot_prev_submission/generate_suggestions.py
  athena/modules/text/module_text_llm/module_text_llm/cot_prev_submission/prompt_analyzer.py
  athena/modules/text/module_text_llm/module_text_llm/cot_prev_submission/prompt_generate_feedback.py
  athena/modules/text/module_text_llm/module_text_llm/self_consistency/__init__.py
Labels: athena

#201 `Athena`: Add separate coverage report for modules in Athena
  .github/workflows/athena_test.yml
  .gitignore
  athena/.coveragerc
  athena/.gitignore
  athena/combine_coverage.py
  athena/tests/modules/programming/module_programming_llm/mock/test_mock.py
  athena/tests/pyproject.toml
Labels: athena, github
