Repository ls1intum/edutelligence, pull requests merged in 2025-03, with the labels that each got.

#8 `Hyperion`: Change workflows
  .github/workflows/hyperion_build-and-push-docker.yml
  .github/workflows/hyperion_check-openapi.yml
Labels: hyperion

#9 `Development`: Fix pull request labeler
  .github/pullrequest-labeler.yml
Labels: github

#11 `Development`: Add pull request title validation
  .github/workflows/validate-pr-title.yml
Labels: github

#10 `Development`: Add workflow to automate adding issues to project
  .github/workflows/add-issue-to-project.yml
Labels: github

#12 `Hyperion`: Deploy with Helios Workflows
  .github/workflows/hyperion_deploy-proxy-with-helios.yml
  .github/workflows/hyperion_deploy-service-with-helios.yml
  .github/workflows/hyperion_deploy-test.yml
Labels: hyperion, github

#13 `Hyperion`: Revert helios for proxy
  .github/workflows/hyperion_deploy-proxy-with-helios.yml
  .github/workflows/hyperion_deploy-test.yml
  .github/workflows/hyperion_deploy-with-helios.yml
Labels: hyperion, github

#14 `Hyperion`: Fix docker compose path in deploy workflows
  .github/workflows/hyperion_deploy-test.yml
  .github/workflows/hyperion_deploy-with-helios.yml
Labels: github

#16 `Hyperion`: Add gradio playground
  hyperion/app/main.py
  hyperion/docker/compose.hyperion.yaml
  hyperion/poetry.lock
  hyperion/pyproject.toml
Labels: hyperion

#17 `Hyperion`: Fix checks
  hyperion/app/main.py
  hyperion/openapi.yaml
  hyperion/poetry.lock
Labels: hyperion

#18 `Hyperion`: Fix docker proxy labels PathPrefix
  hyperion/docker/compose.hyperion.yaml
Labels: hyperion

#19 `Hyperion`: Fix playground rendering
  hyperion/app/main.py
Labels: hyperion

#25 `Atlas`: Fix read the docs deployment
  atlas/docs/.readthedocs.yaml
  atlas/docs/conf.py
  atlas/docs/dev/development-process/development-process.rst
Labels: atlas

#26 `Development`: Add pull request template support for Athena and Atlas
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/athena.md
  .github/PULL_REQUEST_TEMPLATE/atlas.md
Labels: github

#27 `Development`: Add types to issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: github

#28 `General`: Add organizational files
  CODE_OF_CONDUCT.md
  LICENSE
  SECURITY.md
  atlas/LICENSE
Labels: iris

#29 `Hyperion`: Add API key authentication
  hyperion/.env.example
  hyperion/README.md
  hyperion/app/health.py
  hyperion/app/main.py
  hyperion/app/openapi.py
  hyperion/app/project_meta.py
  hyperion/app/security.py
  hyperion/app/settings.py
  hyperion/docker/compose.hyperion.yaml
  hyperion/openapi.yaml
  hyperion/pyproject.toml
Labels: hyperion

#31 `Hyperion`: Fix auth schema
  hyperion/app/main.py
  hyperion/app/openapi.py
  hyperion/app/security.py
  hyperion/openapi.yaml
Labels: hyperion

#32 `Hyperion`: Improve auth
  hyperion/app/main.py
  hyperion/app/security.py
Labels: hyperion

#33 `Hyperion`: Init shared library and add auth
  .github/workflows/hyperion_build-and-push-docker.yml
  hyperion.code-workspace
  hyperion/Dockerfile
  hyperion/app/main.py
  hyperion/app/openapi.py
  hyperion/app/security.py
  hyperion/openapi.yaml
  hyperion/poetry.lock
  hyperion/pyproject.toml
  shared/.flake8
  shared/README.md
  shared/poetry.lock
  shared/pyproject.toml
  shared/shared/__init__.py
  shared/shared/security.py
Labels: hyperion, github

#34 `Hyperion`: Move health check to shared library
  hyperion/app/health.py
  hyperion/app/main.py
  hyperion/app/models/ollama.py
  hyperion/openapi.yaml
  shared/README.md
  shared/shared/health.py
Labels: hyperion

#35 `Hyperion`: Fix docker file
  hyperion/Dockerfile
  hyperion/app/models/__init__.py
Labels: hyperion

#36 `Atlas`: Bump jinja to 3.1.6
  atlas/docs/requirements.txt
Labels: atlas

#37 `Hyperion`: Add option to disable auth for testing
  hyperion/.env.example
  hyperion/app/main.py
  hyperion/app/openapi.py
  hyperion/app/settings.py
Labels: hyperion

#38 `Hyperion`: Add LangFuse integration
  hyperion/.flake8
  hyperion/app/main.py
  hyperion/app/openapi.py
  hyperion/app/settings.py
  hyperion/poetry.lock
  hyperion/pyproject.toml
Labels: hyperion

#21 `Iris`: Add webhook endpoint and ingestion pipeline for lecture transcriptions
  iris/app/common/PipelineEnum.py
  iris/app/domain/data/metrics/transcription_dto.py
  iris/app/domain/ingestion/transcription_ingestion/transcription_ingestion_pipeline_execution_dto.py
  iris/app/llm/external/openai_embeddings.py
  iris/app/llm/request_handler/basic_request_handler.py
  iris/app/pipeline/prompts/transcription_ingestion_prompts.py
  iris/app/pipeline/transcription_ingestion_pipeline.py
  iris/app/vector_database/lecture_transcription_schema.py
  iris/app/web/routers/webhooks.py
  iris/app/web/status/transcription_ingestion_callback.py
  iris/requirements.txt
Labels: iris

#53 `Iris`: Add advanced lecture content retrieval with transcription support
  .idea/.gitignore
  .idea/edutelligence.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  iris/app/common/PipelineEnum.py
  iris/app/domain/data/metrics/transcription_dto.py
  iris/app/domain/lecture/lecture_unit_dto.py
  iris/app/domain/retrieval/lecture/lecture_retrieval_dto.py
  iris/app/llm/external/__init__.py
  iris/app/llm/external/cohere_client.py
  iris/app/llm/request_handler/rerank_request_handler.py
  iris/app/pipeline/chat/course_chat_pipeline.py
  iris/app/pipeline/chat/exercise_chat_agent_pipeline.py
  iris/app/pipeline/chat/exercise_chat_pipeline.py
  iris/app/pipeline/chat/lecture_chat_pipeline.py
  iris/app/pipeline/faq_ingestion_pipeline.py
  iris/app/pipeline/lecture_ingestion_pipeline.py
  iris/app/pipeline/lecture_unit_pipeline.py
  iris/app/pipeline/lecture_unit_segment_summary_pipeline.py
  iris/app/pipeline/lecture_unit_summary_pipeline.py
  iris/app/pipeline/prompts/lecture_retrieval_prompts.py
  iris/app/pipeline/prompts/lecture_unit_segment_summary_prompt.py
  iris/app/pipeline/prompts/lecture_unit_summary_prompt.py
  iris/app/pipeline/shared/citation_pipeline.py
  iris/app/pipeline/shared/reranker_pipeline.py
  iris/app/pipeline/transcription_ingestion_pipeline.py
  iris/app/retrieval/lecture/lecture_page_chunk_retrieval.py
  iris/app/retrieval/lecture/lecture_retrieval.py
  iris/app/retrieval/lecture/lecture_transcription_retrieval.py
  iris/app/retrieval/lecture/lecture_unit_segment_retrieval.py
  iris/app/retrieval/lecture_retrieval.py
  iris/app/vector_database/__init__.py
  iris/app/vector_database/database.py
  iris/app/vector_database/lecture_schema.py
  iris/app/vector_database/lecture_transcription_schema.py
  iris/app/vector_database/lecture_unit_page_chunk_schema.py
  iris/app/vector_database/lecture_unit_schema.py
  iris/app/vector_database/lecture_unit_segment_schema.py
  iris/app/web/routers/ingestion_status.py
  iris/app/web/routers/webhooks.py
  iris/app/web/status/ingestion_status_callback.py
  iris/app/web/status/transcription_ingestion_callback.py
  iris/requirements.txt
Labels: iris

#20 `Atlas`: Add action to deploy documentation
  .github/workflows/atlas_docs.yml
Labels: github, ready for review

#64 `Atlas`: Fix documentation build workflow
  .github/workflows/atlas_docs.yml
Labels: github

#62 `Iris`: Change status update endpoints to new structure
  iris/poetry.lock
  iris/src/iris/web/status/faq_ingestion_status_callback.py
  iris/src/iris/web/status/ingestion_status_callback.py
  iris/src/iris/web/status/lecture_deletion_status_callback.py
  iris/src/iris/web/status/status_update.py
  iris/src/iris/web/status/transcription_ingestion_callback.py
Labels: iris

#74 `Iris`: Fix ingestion dtos
  iris/src/iris/domain/ingestion/transcription_ingestion/transcription_ingestion_pipeline_execution_dto.py
  iris/src/iris/pipeline/transcription_ingestion_pipeline.py
  iris/src/iris/web/routers/webhooks.py
Labels: iris

#65 `Atlas`: Fix artifact name in `documentation` worklfow
  .github/workflows/atlas_docs.yml
Labels: github

#40 `Atlas`: Similarity Measurement Methods
  atlas/AtlasMl/atlasml/ml/SimilarityMeasurement/Cosine.py
  atlas/AtlasMl/atlasml/ml/SimilarityMeasurement/Euclidian.py
  atlas/AtlasMl/atlasml/ml/SimilarityMeasurement/Jaccard.py
  atlas/AtlasMl/atlasml/ml/SimilarityMeasurement/__init__.py
  atlas/AtlasMl/atlasml/ml/VectorEmbeddings/FallbackModel.py
  atlas/AtlasMl/atlasml/ml/VectorEmbeddings/MainEmbeddingModel.py
  atlas/AtlasMl/atlasml/ml/VectorEmbeddings/ModelDimension.py
  atlas/AtlasMl/tests/test_similarityMeasurement.py
Labels: atlas

#82 `Athena`: Fix loop for docker build image identification
  .github/PULL_REQUEST_TEMPLATE/athena.md
  .github/scripts/athena_images-to-build.sh
Labels: github

#83 `Athena`: Fix images to build script
  .github/scripts/athena_images-to-build.sh
Labels: github
