Repository ls1intum/edutelligence, pull requests merged in 2025-08, with the labels that each got.

#219 `Hyperion`: Fix health endpoint uptime
  hyperion/app/scripts/sync_openapi_artemis.py
  hyperion/openapi.yaml
  shared/shared/health.py
Labels: hyperion

#211 `Iris`: Integrate Memiris into the course chat
  iris/Dockerfile
  iris/docker/weaviate.yml
  iris/poetry.lock
  iris/pyproject.toml
  iris/src/iris/common/mastery_utils.py
  iris/src/iris/common/memiris_setup.py
  iris/src/iris/common/pyris_message.py
  iris/src/iris/common/tools.py
  iris/src/iris/domain/chat/course_chat/course_chat_status_update_dto.py
  iris/src/iris/domain/data/user_dto.py
  iris/src/iris/pipeline/chat/course_chat_pipeline.py
  iris/src/iris/pipeline/prompts/iris_course_chat_prompts.py
  iris/src/iris/retrieval/faq_retrieval_utils.py
  iris/src/iris/retrieval/lecture/lecture_retrieval_utils.py
  iris/src/iris/web/routers/pipelines.py
  iris/src/iris/web/status/status_update.py
  memiris/log_conf.yml
  memiris/pyproject.toml
  memiris/src/memiris/__init__.py
  memiris/src/memiris/api/memory_dto.py
  memiris/src/memiris/api/memory_service.py
  memiris/src/memiris/dlo/learning_creation_dlo.py
  memiris/src/memiris/dlo/learning_main_dlo.py
  memiris/src/memiris/dlo/memory_connection_dlo.py
  memiris/src/memiris/dlo/memory_creation_dlo.py
  memiris/src/memiris/dlo/memory_deduplication_dlo.py
  memiris/src/memiris/dlo/memory_deduplication_input_dlo.py
  memiris/src/memiris/dlo/memory_main_dlo.py
  memiris/src/memiris/memiris_models.proto
  memiris/src/memiris/repository/weaviate/weaviate_learning_repository.py
  memiris/src/memiris/repository/weaviate/weaviate_memory_repository.py
  memiris/src/memiris/service/learning_deduplication.py
  memiris/src/memiris/service/learning_extraction.py
  memiris/src/memiris/service/memory_creator.py
  memiris/src/memiris/service/memory_sleep.py
  memiris/src/memiris/tool/learning_tools.py
  memiris/src/memiris/tool/memory_tools.py
  memiris/src/memiris/util/learning_util.py
  memiris/src/memiris/util/memory_util.py
  memiris/tests/memiris_tests/service_tests/test_learning_deduplication.py
Labels: iris, memiris

#85 `Iris`: Merge ingestion jobs
  iris/src/iris/domain/data/lecture_dto.py
  iris/src/iris/domain/data/lecture_unit_page_dto.py
  iris/src/iris/domain/ingestion/ingestion_pipeline_execution_dto.py
  iris/src/iris/domain/lecture/lecture_unit_dto.py
  iris/src/iris/domain/retrieval/lecture/lecture_retrieval_dto.py
  iris/src/iris/ingestion/ingestion_job_handler.py
  iris/src/iris/llm/request_handler/model_version_request_handler.py
  iris/src/iris/pipeline/chat/lecture_chat_pipeline.py
  iris/src/iris/pipeline/delete_lecture_units_pipeline.py
  iris/src/iris/pipeline/lecture_ingestion_pipeline.py
  iris/src/iris/pipeline/lecture_ingestion_update_pipeline.py
  iris/src/iris/pipeline/lecture_unit_pipeline.py
  iris/src/iris/pipeline/lecture_unit_segment_summary_pipeline.py
  iris/src/iris/pipeline/lecture_unit_summary_pipeline.py
  iris/src/iris/pipeline/prompts/citation_prompt.txt
  iris/src/iris/pipeline/shared/citation_pipeline.py
  iris/src/iris/pipeline/transcription_ingestion_pipeline.py
  iris/src/iris/retrieval/lecture/lecture_retrieval.py
  iris/src/iris/retrieval/lecture/lecture_transcription_retrieval.py
  iris/src/iris/retrieval/lecture/lecture_unit_segment_retrieval.py
  iris/src/iris/vector_database/lecture_unit_page_chunk_schema.py
  iris/src/iris/vector_database/lecture_unit_schema.py
  iris/src/iris/web/routers/webhooks.py
  iris/src/iris/web/status/ingestion_status_callback.py
  iris/src/iris/web/status/lecture_deletion_status_callback.py
  iris/src/iris/web/status/status_update.py
  iris/src/iris/web/status/transcription_ingestion_callback.py
  node_modules/.cache/prettier/.prettier-caches/dc2b74d9e4bbcc84c146c8d19f3d21b339116016.json
Labels: iris

#223 `Iris`: Add suggestions for all channels and chat with Iris
  iris/src/iris/common/tutor_suggestion.py
  iris/src/iris/domain/communication/communication_tutor_suggestion_pipeline_execution_dto.py
  iris/src/iris/domain/data/text_exercise_dto.py
  iris/src/iris/llm/external/ollama.py
  iris/src/iris/pipeline/prompts/tutor_suggestion/helper_prompts.py
  iris/src/iris/pipeline/prompts/tutor_suggestion/post_summary_prompt.py
  iris/src/iris/pipeline/prompts/tutor_suggestion/suggestion_prompts.py
  iris/src/iris/pipeline/prompts/tutor_suggestion/tutor_query_prompts.py
  iris/src/iris/pipeline/tutor_suggestion/__init__.py
  iris/src/iris/pipeline/tutor_suggestion/tutor_suggestion_channel_base_pipeline.py
  iris/src/iris/pipeline/tutor_suggestion/tutor_suggestion_pipeline.py
  iris/src/iris/pipeline/tutor_suggestion/tutor_suggestion_summary_pipeline.py
  iris/src/iris/pipeline/tutor_suggestion/tutor_suggestion_user_query_pipeline.py
  iris/src/iris/pipeline/tutor_suggestion_pipeline.py
  iris/src/iris/web/routers/pipelines.py
Labels: iris, lock:pyris-test

#226 `Iris`: Fix ingestion job errors
  iris/poetry.lock
  iris/src/iris/llm/external/openai_chat.py
  iris/src/iris/pipeline/lecture_ingestion_update_pipeline.py
  iris/src/iris/retrieval/lecture/lecture_unit_segment_retrieval.py
  iris/src/iris/vector_database/database.py
  iris/src/iris/web/routers/ingestion_status.py
  node_modules/.cache/prettier/.prettier-caches/dc2b74d9e4bbcc84c146c8d19f3d21b339116016.json
Labels: iris

#205 `Athena`: Update learner profile attributes
  athena/athena/athena/schemas/learner_profile.py
  athena/modules/text/module_text_llm/module_text_llm/cot_learner_profile/__init__.py
  athena/modules/text/module_text_llm/module_text_llm/cot_learner_profile/generate_suggestions.py
  athena/modules/text/module_text_llm/module_text_llm/cot_learner_profile/prompt_thinking.py
Labels: athena

#231 `Atlas`: Add Competency Relation Logic
  atlas/AtlasMl/.env.example
  atlas/AtlasMl/Dockerfile
  atlas/AtlasMl/atlasml/app.py
  atlas/AtlasMl/atlasml/clients/weaviate.py
  atlas/AtlasMl/atlasml/config.py
  atlas/AtlasMl/atlasml/ml/pipeline_workflows.py
  atlas/AtlasMl/atlasml/models/competency.py
  atlas/AtlasMl/atlasml/routers/competency.py
  atlas/AtlasMl/poetry.lock
  atlas/AtlasMl/pyproject.toml
  atlas/AtlasMl/tests/conftest.py
  atlas/AtlasMl/tests/routers/test_competency.py
  atlas/AtlasMl/tests/test_pipelines.py
  atlas/AtlasMl/tests/test_pipelines_unit.py
  atlas/AtlasMl/tests/test_weaviate.py
  atlas/docker-compose.yml
Labels: atlas

#229 `Iris`: Implement agent calling for tutor suggestions
  iris/docker/weaviate.yml
  iris/src/iris/common/message_converters.py
  iris/src/iris/common/tutor_suggestion.py
  iris/src/iris/llm/external/ollama.py
  iris/src/iris/pipeline/prompts/templates/tutor_suggestion_chat_system_prompt.j2
  iris/src/iris/pipeline/prompts/tutor_suggestion/__init__.py
  iris/src/iris/pipeline/prompts/tutor_suggestion/helper_prompts.py
  iris/src/iris/pipeline/prompts/tutor_suggestion/suggestion_prompts.py
  iris/src/iris/pipeline/prompts/tutor_suggestion/tutor_query_prompts.py
  iris/src/iris/pipeline/tutor_suggestion/__init__.py
  iris/src/iris/pipeline/tutor_suggestion/tutor_suggestion_channel_base_pipeline.py
  iris/src/iris/pipeline/tutor_suggestion/tutor_suggestion_pipeline.py
  iris/src/iris/pipeline/tutor_suggestion/tutor_suggestion_summary_pipeline.py
  iris/src/iris/pipeline/tutor_suggestion/tutor_suggestion_user_query_pipeline.py
  iris/src/iris/pipeline/tutor_suggestion_pipeline.py
  iris/src/iris/tools/__init__.py
  iris/src/iris/tools/course_simple_details.py
  iris/src/iris/tools/exercise_example_solution.py
  iris/src/iris/tools/last_artifact.py
  iris/src/iris/tools/single_exercise_problem_statement.py
  iris/src/iris/web/routers/pipelines.py
  iris/src/iris/web/status/status_update.py
Labels: iris

#239 `Atlas`: Enable Competency Relation Suggestions
  atlas/AtlasMl/atlasml/clients/weaviate.py
  atlas/AtlasMl/atlasml/ml/centroid_similarity.py
  atlas/AtlasMl/atlasml/ml/pipeline_workflows.py
  atlas/AtlasMl/atlasml/models/competency.py
  atlas/AtlasMl/atlasml/routers/competency.py
  atlas/AtlasMl/atlasml/utils.py
  atlas/AtlasMl/poetry.lock
  atlas/AtlasMl/pyproject.toml
  atlas/AtlasMl/tests/conftest.py
  atlas/AtlasMl/tests/routers/test_competency.py
  atlas/AtlasMl/tests/test_pipelines.py
  atlas/AtlasMl/tests/test_pipelines_unit.py
  atlas/AtlasMl/tests/test_weaviate.py
  atlas/docker-compose.yml
Labels: atlas
