Repository ls1intum/edutelligence, pull requests merged in 2025-05, with the labels that each got.

#111 `Atlas`: Fix testing environment for AtlasML
  .github/workflows/atlasml_code-coverage.yml
  .github/workflows/atlasml_test-and-build.yml
  atlas/AtlasMl/atlasml/clients/weaviate.py
  atlas/AtlasMl/atlasml/ml/VectorEmbeddings/FallbackModel.py
  atlas/AtlasMl/atlasml/routers/competency.py
  atlas/AtlasMl/tests/test_competency.py
Labels: atlas, github

#88 `Athena`: Added mock tests for the basic approach of the module_text_llm
  .github/workflows/athena_test.yml
  athena/modules/text/module_text_llm/poetry.lock
  athena/modules/text/module_text_llm/pyproject.toml
  athena/poetry.lock
  athena/pyproject.toml
  athena/scripts/test_modules.py
  athena/tests/modules/text/module_text_llm/conftest.py
  athena/tests/modules/text/module_text_llm/test_basic_approach_mock.py
  athena/tests/utils/mock_config.py
  athena/tests/utils/mock_env.py
  athena/tests/utils/mock_llm.py
  athena/tests/utils/mock_openai.py
Labels: athena, github, python

#126 `Athena`: Docs - Move Videos to TUM Live
  athena/docs/_static/videos/continue_later.mp4
  athena/docs/_static/videos/evaluation_metrics.mp4
  athena/docs/_static/videos/exercise_details.mp4
  athena/docs/_static/videos/metrics_explanation.mp4
  athena/docs/_static/videos/read_submission.mp4
  athena/docs/overview/playground.rst
Labels: documentation, athena, ready for review

#119 `Atlas`: AtlasML add initial structure for pipeline
  .github/workflows/atlasml_test-and-build.yml
  atlas/AtlasMl/atlasml/app.py
  atlas/AtlasMl/atlasml/clients/weaviate.py
  atlas/AtlasMl/atlasml/tasks/__init__.py
  atlas/AtlasMl/atlasml/tasks/data_collection.py
  atlas/AtlasMl/atlasml/tasks/scheduler.py
  atlas/AtlasMl/poetry.lock
  atlas/AtlasMl/pyproject.toml
  atlas/AtlasMl/tests/test_competency.py
  atlas/AtlasMl/tests/test_weaviate.py
Labels: atlas, github

#158 `Iris`: Update DTO to use artifact instead of suggestion
  iris/src/iris/domain/communication/communication_tutor_suggestion_status_update_dto.py
  iris/src/iris/pipeline/tutor_suggestion_pipeline.py
  iris/src/iris/web/status/status_update.py
Labels: iris, lock:pyris-test

#159 `Iris`: Add default and advanced variants of chat pipelines
  iris/README.MD
  iris/llm_config.example.yml
  iris/poetry.lock
  iris/pyproject.toml
  iris/src/iris/common/token_usage_dto.py
  iris/src/iris/domain/pipeline_execution_settings_dto.py
  iris/src/iris/llm/__init__.py
  iris/src/iris/llm/capability/__init__.py
  iris/src/iris/llm/capability/capability_checker.py
  iris/src/iris/llm/capability/capability_list.py
  iris/src/iris/llm/capability/requirement_list.py
  iris/src/iris/llm/external/cohere_client.py
  iris/src/iris/llm/external/model.py
  iris/src/iris/llm/external/ollama.py
  iris/src/iris/llm/external/openai_chat.py
  iris/src/iris/llm/external/openai_completion.py
  iris/src/iris/llm/external/openai_embeddings.py
  iris/src/iris/llm/langchain/iris_langchain_chat_model.py
  iris/src/iris/llm/llm_manager.py
  iris/src/iris/llm/request_handler/__init__.py
  iris/src/iris/llm/request_handler/basic_request_handler.py
  iris/src/iris/llm/request_handler/model_version_request_handler.py
  iris/src/iris/main.py
  iris/src/iris/pipeline/chat/code_feedback_pipeline.py
  iris/src/iris/pipeline/chat/course_chat_pipeline.py
  iris/src/iris/pipeline/chat/exercise_chat_agent_pipeline.py
  iris/src/iris/pipeline/chat/exercise_chat_pipeline.py
  iris/src/iris/pipeline/chat/interaction_suggestion_pipeline.py
  iris/src/iris/pipeline/chat/lecture_chat_pipeline.py
  iris/src/iris/pipeline/chat_gpt_wrapper_pipeline.py
  iris/src/iris/pipeline/competency_extraction_pipeline.py
  iris/src/iris/pipeline/faq_ingestion_pipeline.py
  iris/src/iris/pipeline/inconsistency_check_pipeline.py
  iris/src/iris/pipeline/lecture_ingestion_pipeline.py
  iris/src/iris/pipeline/lecture_unit_pipeline.py
  iris/src/iris/pipeline/lecture_unit_segment_summary_pipeline.py
  iris/src/iris/pipeline/lecture_unit_summary_pipeline.py
  iris/src/iris/pipeline/pipeline.py
  iris/src/iris/pipeline/rewriting_pipeline.py
  iris/src/iris/pipeline/shared/citation_pipeline.py
  iris/src/iris/pipeline/shared/reranker_pipeline.py
  iris/src/iris/pipeline/shared/summary_pipeline.py
  iris/src/iris/pipeline/shared/utils.py
  iris/src/iris/pipeline/text_exercise_chat_pipeline.py
  iris/src/iris/pipeline/transcription_ingestion_pipeline.py
  iris/src/iris/pipeline/tutor_suggestion_pipeline.py
  iris/src/iris/retrieval/basic_retrieval.py
  iris/src/iris/retrieval/lecture/lecture_page_chunk_retrieval.py
  iris/src/iris/retrieval/lecture/lecture_retrieval.py
  iris/src/iris/retrieval/lecture/lecture_transcription_retrieval.py
  iris/src/iris/retrieval/lecture/lecture_unit_segment_retrieval.py
  iris/src/iris/web/routers/pipelines.py
  iris/src/iris/web/routers/webhooks.py
  iris/src/iris/web/status/status_update.py
  iris/src/iris/web/utils.py
Labels: iris, lock:pyris-test

#116 `Iris`: Add custom instructions
  iris/src/iris/domain/chat/course_chat/course_chat_pipeline_execution_dto.py
  iris/src/iris/domain/chat/exercise_chat/exercise_chat_pipeline_execution_dto.py
  iris/src/iris/domain/chat/lecture_chat/lecture_chat_pipeline_execution_dto.py
  iris/src/iris/domain/data/text_exercise_dto.py
  iris/src/iris/pipeline/chat/course_chat_pipeline.py
  iris/src/iris/pipeline/chat/exercise_chat_agent_pipeline.py
  iris/src/iris/pipeline/chat/lecture_chat_pipeline.py
  iris/src/iris/pipeline/prompts/iris_course_chat_prompts.py
  iris/src/iris/pipeline/prompts/iris_exercise_chat_agent_prompts.py
  iris/src/iris/pipeline/prompts/text_exercise_chat_prompts.py
  iris/src/iris/pipeline/shared/citation_pipeline.py
  iris/src/iris/pipeline/shared/utils.py
Labels: iris

#162 `Iris`: Update Docker build pipeline to use release tags
  .github/workflows/iris_build-and-push-docker.yml
Labels: github

#163 `Iris`: Modularize course chat prompt
  iris/src/iris/domain/data/exercise_with_submissions_dto.py
  iris/src/iris/domain/data/extended_course_dto.py
  iris/src/iris/pipeline/chat/code_feedback_pipeline.py
  iris/src/iris/pipeline/chat/course_chat_pipeline.py
  iris/src/iris/pipeline/chat/exercise_chat_agent_pipeline.py
  iris/src/iris/pipeline/chat/lecture_chat_pipeline.py
  iris/src/iris/pipeline/inconsistency_check_pipeline.py
  iris/src/iris/pipeline/prompts/iris_course_chat_prompts.py
  iris/src/iris/pipeline/prompts/iris_course_chat_prompts_elicit.py
  iris/src/iris/pipeline/text_exercise_chat_pipeline.py
Labels: iris

#113 `Athena`: Implement verification tests for basic approach of module_text_llm
  athena/scripts/test_modules.py
  athena/tests/modules/text/module_text_llm/mock/conftest.py
  athena/tests/modules/text/module_text_llm/mock/test_basic_approach_mock.py
  athena/tests/modules/text/module_text_llm/real/conftest.py
  athena/tests/modules/text/module_text_llm/real/test_basic_approach_real.py
Labels: athena, ready for review
